#main {
  max-width: 640px;
  margin: 0;
  float: left;
}
#top-nav{
  width: 800;
  z-index: 999;
  background-color: #795548;
  color: #EFEBE9;

}
#top-nav-list{
    list-style-type: none;
    margin:0px;
    padding-left = 0px;
    display: inline;

}
body{
  background-color: #EEE;
  font-family: Helvetica, Arial, sans-serif;
}
.inline_li{
  display: inline
}

#side-nav-list{
    list-style-type: none;

}
a{ text-decoration: none;}
.selected{
  font-weight: bold;
}
#side-nav{
  float: right;
  width: 160px;
  border-left-width: medium;
  border-left-style: solid;
  border-left-color: #DEB887;
  height: 100%;
  overflow: visible;
  background-color: #B2936C;
}

p{
  margin: 15px;
  color: #3C2910;
}
h1{
  border-bottom: 1px;
  margin: 16px;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: #F4E7D6;
  color: #271B0B;
}
.side-box{
  display: block;
  width: 140;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 141px 29px;
  background-color: #B2936C;
  /*border: 5px solid #DEB887;*/
  /*margin-top: 160px;*/
  /*right:0;*/
  /*position: absolute;*/
  /*box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);*/
}
#inner{
  width: 800;
  background-color: #FCF8F3;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 10px 5px #888888;
}
#outer{
  width: 100%;
  background-image: url("paper.gif");
  background-repeat: repeat-y;
}
#footer{
  clear:both;
  background-color: #795548;
}
.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #DEB887;
  /*box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);*/

}
.light_links {
  color: #F5EADB;
}
.dark_links {
  color: #3C2910;
}
#side-circle{
  /*position: absolute;
  right: 0;*/
}

#side-nav-list{
  /*padding-top: 200px;*/
  right: 0;
  /*position: absolute;*/
  padding-right: 10px;

}
