<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/main.css">
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
-->
<html>
    <head>
        <title>DavidH's Blog</title>
    </head>

    <body>
      <div id="outer">
        <div id="inner">
          <div id="top-nav">
            <ul id="top-nav-list">
              <li class="inline_li selected">&nbspBlog&nbsp</li>
              <li class="inline_li">&nbspAbout&nbsp</li>
              <li class="inline_li">&nbspContact&nbsp</li>
              <li class="inline_li">&nbspProjects&nbsp</li>
              <li class="inline_li">&nbspArt&nbsp</li>
            </ul>
          </div>



          <div id="main">
            {% block content %}
            {% endblock %}
          </div>

          <div id="side-nav">
            <div id="side-circle" class="circle" style="background-image:
              url('/static/img/earth_icon.png')">
            </div>
            <div id="side-nameplate" class="side-box" style="background-image:
              url('/static/img/signature_141x29_brown.png')">
            </div>
            <ul id="side-nav-list">
              <li><a class="light_links" href="https://twitter.com/davidahines">Twitter</a></li>
              <li><a class="light_links" href="http://stackoverflow.com/users/383986/davidahines">Stack&nbspOverflow</a></li>
              <li><a class="light_links" href="https://github.com/davidahines">Github</a></li>
            </ul>
          </div>

          <div id="footer">
            Here is a footer.
          </div>
        </div>
      </div>
      </body>
</html>
